/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* CORES */
    --blue-900: #04043A;
    --blue-600: #005FE8;

    --gray-200: #E4E4EA;
    --gray-50:  #F8F8FB;
    --white:    #FFFFFF;

    --green-400: #16B743;
    --green-700: #008643;

    --gray-900: #333333;

  /* BRAND */
    --color-primary: var(--blue-600);
    --color-primary-dark: var(--blue-900);

  /* TEXTO */
    --color-text-primary: var(--gray-900);
    --color-text-inverse: var(--white);

  /* BACKGROUNDS */
    --color-surface: var(--gray-50);
    --color-surface-alt: var(--gray-200);

  /* FEEDBACK */
    --color-success: var(--green-700);
    --color-success-light: var(--green-400);

  /* TIPOGRAFIA */
    --font-primary: "Pathway Extreme", sans-serif;
}

html {
    background-color: var(--color-surface);
}

body {
    font-family: var(--font-primary);
    color: var(--color-text-primary);
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    max-width: 1300px;
    margin: 0 auto;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;

    a {
    color: var(--color-text-primary);
    text-decoration: none;
    }

    & a:hover {
    font-weight: 700;
    transition: .2s;
    }
}

#logo {
    max-width: 200px;
}

#top-cta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 3px;
}

.btn-primary {
    background-color: var(--color-success);
    color: var(--color-text-inverse);
    border: var(--color-success) solid 1px;
}

.btn-primary:hover {
    color: var(--color-success);
    border: var(--color-success) solid 1px;
    background-color: var(--color-surface);
    transition: .2s;
}

.btn-secondary {
    color: var(--color-success);
    border: var(--color-success) solid 1px;
    background-color: var(--color-surface);
    transition: .2s;
}

.btn-secondary:hover {
    color: var(--color-surface);
    border: var(--color-success-light) solid 1px;
    background-color: var(--color-success-light);
}

/* HERO */

#hero {
    display: flex;
    padding: 3rem 3rem 4rem 3rem;
    gap: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

#hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    flex: 2;
    max-width: 60%;
}

#hero-cta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#hero p {
    font-size: 1.3rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

#hero-img {
    height: auto;
    max-width: 100%;
    min-width: 0;
    flex: 1;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    line-height: 1.2;
}

/* SOCIAL PROOF */

#social-proof {
    padding: 4rem 3rem;
    background-color: var(--color-surface-alt);
}

#social-proof h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    color: var(--color-primary-dark);
    font-weight: 300;
    padding-left: 3rem;
}

.destaque {
    color: var(--color-primary);
    font-weight: 600;
}

.clients {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem 0;
}

.clients img {
    height: 55px;
    filter: grayscale(100%);
}

#testimonial-section {
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: 2rem auto;
    width: 70%;
}

/* DEPOIMENTO */

.testimonial-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.testimonial-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;

    background: none;
    border: none;
    padding: 0;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button i {
        color: white;
        font-size: 20px;
        transform: translateX(2px);
    }

.testimonial-container:hover .play-button {
    transform: translate(-50%, -50%) scale(1.3);
    background: rgba(0, 0, 0, 0.9);
}

.play-button {
    transition: transform 0.3s ease, background 0.3s ease;
}

/* SOLUÇÕES */

#solutions {
    padding: 4rem 3rem;
    max-width: 1300px;
    margin: 0 auto;
}

#solutions h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--color-primary-dark);
    font-weight: 600;
}

.section-description {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.1rem;
}

#solutions div:first-of-type {
    padding-top: 5rem;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem 0;
    gap: 2rem;
}

.solution-card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
    transition: .2s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 22rem;
    height: 22rem;

    & img {
        height: 70px;
        }

    &:hover {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

    & p {
        line-height: 1.3rem;
        padding: 1rem 0;
    }

    & a {
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        color: var(--color-primary);
    }

    & a::after {
    content: " \2192";
}
}

.btn-solutions {
    display: block;
    margin: 3rem auto 5rem;
    max-width: fit-content;
}